h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

.table-condensed td, .table-condensed th {
  padding: 1px;  
}

/* define Smith-specific colors */

a {
	color: #0000EE;
}

a:hover   { color: #000; }
a:visited { color: #a0a; }

.navbar-default {
	color: #666;
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

.navbar-inner {
  background-color: #666;
  border: 1px solid #666;
}

.navbar li {
	color: #666;
}

.navbar a {
	color: #666;
}




.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}


.past {
    color: darkgray;
}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
