   <footer>
      <div class="container">
        <p class="text-muted credit">Copyright &copy; 2020 Amelia McNamara. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/dist/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/dist/js/bootstrap.min.js"></script>
     <script src="{{ site.baseurl}}/dist/js/Repo.js/repo.js"></script>
    <script type="text/javascript">
	$('.tooltip-test').tooltip()
	$('#collapseOne').collapse("hide");
	$('#repo').repo({ user: 'AmeliaMN', name: '1000tweets' });
	$('.more').click(function(){
    	$(this).text(function(i,old){
        	return old=='read less' ?  'read more' : 'read less';
    	});
    	$(this).blur();
	});
	$('.code').click(function(){
    	$(this).text(function(i,old){
        	return old=='hide code' ?  'view code' : 'hide code';
    	});
    	$(this).blur();
	});
	</script>
    
  </body>
</html>