---
layout: default
---
<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-8">
			<h2>{{ page.ptitle }}</h2>
			<p class="meta">{{ page.date | date_to_string }}</p>

			<div class="post">
			{{ content }}
			</div>
		</div>
		<div class="col-md-4">			
		<h4>Recent posts</h4>
			<ul>
 			{% for post in site.posts offset: 0 limit: 10 %}
    		<li>
      		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.ptitle }}</a>
    		</li>
  			{% endfor %}
			</ul></div>
		<div class="row">&nbsp;</div>
</div>
