h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

.table-condensed td, .table-condensed th {
    padding: 1px;  
}

/* define Smith-specific colors */


/*

.navbar .nav > li > a {
    text-shadow: 0px 1px 0px #f4ac00;
}

.navbar .brand {
    text-shadow: 0px 1px 0px #f4ac00;
}

*/

ol > li .test {
    position:relative; /* Create a positioning context */
    padding-bottom:40px; /* Add some spacing around the content */
}

img {
  display: block;
  margin: auto;
}

.past {
    color: darkgray;
}
